IP_ADDRESS_SELF=IP_OF_SELF
IP_ADDRESS_KUBO1=IP_OF_IPFS_KUBO_MAIN
DELEGATED_ROUTING_PROVIDER_ID1=PEER_ID_OF_KUBO
IP_ADDRESS_KUBO2=IP_OF_IPFS_KUBO_IPNS
DELEGATED_ROUTING_PROVIDER_ID2=PEER_ID_OF_KUBO_IPNS